Source: sqlgreywebinterface
Section: misc
Priority: optional
Maintainer: Shawn Iverson <shawniverson@efa-project.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/flok99/sgwi
Rules-Requires-Root: no

Package: sqlgreywebinterface
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphical Frontend for SQLGrey
 A graphical frontend for the SQLGrey greylisting system.
