*\.swp
*~
/rpmbuild/BUILD/*
!/rpmbuild/BUILD
/rpmbuild/RPMS/*
!/rpmbuild/RPMS
/rpmbuild/SRPMS/*
!/rpmbuild/SRPMS
/rpmbuild/SOURCES/MailScanner*/
/rpmbuild/SOURCES/eFa-*.tar.gz
/rpmbuild/SOURCES/eFa-base-4.0.0.tar.gz
/rpmbuild/SOURCES/eFa-base-4.0.0/eFaInit.old
