Package: clamav-unofficial-sigs
Version: 7.2.5-1
Architecture: amd64
Maintainer: Adrian Jon Kriel <admin@extremeshok.com>
Installed-Size: 277
Depends: clamav (>= 0.101.0), bind-utils (>= 9.9.4)
Section: misc
Priority: optional
Description: scripts for unofficial clamav signatures
 The clamav-unofficial-sigs script provides a simple way to download, test, and
 update third-party signature databases provided by Sanesecurity, FOXHOLE,
 OITC, Scamnailer, BOFHLAND, CRDF, Porcupine, Securiteinfo, MalwarePatrol,
 Yara-Rules Project, etc.
